p{
    color: #a52a2a;
    text-align: center;
    line-height: 30px;
}
h3{
text-align: center;
color: black;
}
h1{
text-align: center;
color: red;
}
h4{
    text-align:center ;
}
a{
    text-decoration: none;
    color: green;
}
button{
    color:blueviolet ;
    text-align: center;
    background-color: white;
}
textarea{
    color: #000;
    background-color: bisque;
}
span{
    text-decoration: underline;
}
