#maintopic{color: blue;}
*{text-align: center;}
h1,h3,h5{font-family: Georgia;}
button{background-color:purple ;color: azure;}
.para{color:white ;background-color:cornflowerblue ;}
button:hover{color:blue ;background-color: yellow;}
p:nth-of-type(2n+1){color: yellow;}
h1::first-letter {color: red;}
#yes:checked+label{color: darkgreen;}