div{height: 200px;
    width: 300px; 
    background-color: blueviolet;
border-width: 5px ;
border-color: black;
border-style: solid;
border-top-right-radius: 15px;
padding: 10px 20px 10px 20px;
margin-bottom: 25px;

}
h1{
    border: 5px black dotted;
    border-bottom: 5px blue solid;
    border-radius: 15px;
}