.card{width:134px ;
height:300px ;
display: inline-block;
border-radius: 15px;
border: 2px solid black;
box-shadow: 2px 4px 8px black;
transition: 0.5s ease-in ;
margin: 50px;
}
.desc{
padding: 0px 4px 0px 4px ;

}
img{width: 100%;
border-radius: 13px 13px 0px 0px;

}
.card:hover{
    box-shadow: 8px 16px 32px black;

}