#container{
    height: 50px;
    width: 900px;
    background-color: rgb(187, 134, 151);
    border: 2px solid rgb(24, 162, 174);
    border-radius: 10px;
    display:flex;
    justify-content: flex-start;
    align-content: center;
}

.box{
    font-size: 24px;
    height: 50px;
    width: 80px;
    margin-left: 5px;
    line-height: 50px;
}
