#container{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(16, 129, 119);
    display :flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    font-size: 50px;
}