.heading{
    color: red;
}
#b3{
    background-color: green;
}
.hp{
    text-align: center;
    text-transform: capitalize;
}
#inner {
   font-size: 10px;
   background-color: aqua;
}
#outer{
    font-size: 25px;
    background-color: aquamarine;
 }
 #p3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
 }
 #nav{
    height: 60px;
    background-color: black;
    border: 5px solid rgb(255, 255, 255);
    width: 100%;
 }
 *{
    background-color:rgb(42, 6, 6) ;
 }
 #navin{
    margin: 0px 180px 0px 0px;
    color: white;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    
 }