<% layout("/layouts/boilerplate") %>
<body>
  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
    }
    .filter{
      text-align: center;
      margin: 2rem;
      opacity: 0.7;
    }
    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }
  </style>
    <div id="filters">
        <div class="filter">
           <div><i class="fa-solid fa-fire"></i></div>
           <P>Trending</P>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-bed"></i></div>
           <P>Rooms</P>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-mountain-city"></i></div>
           <P>Iconic cities</P>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-mountain"></i></div>
           <P>Mountains</P>
        </div>
        <div class="filter">
           <div><i class="fa-brands fa-fort-awesome"></i></div>
           <P>Castles</P>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-person-swimming"></i></div>
           <P>Amazing Pools</P>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-campground"></i></div>
           <P>Camping</P>
        </div>
        <div class="filter">
           <div><i class="fa-solid fa-tractor"></i></div>
           <P>Farms</P>
        </div>
        <div class="filter">
           <div><i class="fa-regular fa-snowflake"></i></div>
           <P>Arctic</P>
        </div>
    </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for( let listing of allListing ) { %>
    <a href="/listings/<%= listing._id %>" class="listing">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b>
            <br />
            &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") :
            'N/A' %> /night
          </p>
        </div>
      </div>
      <% } %>
    </a>
  </div>
</body>
