<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut explicabo corrupti earum. Ut cupiditate illum at excepturi! Voluptatibus odit saepe sit voluptatem nisi, laudantium quia molestiae! Molestias natus nulla quia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perspiciatis esse ut nobis assumenda nemo sit officiis quia soluta saepe non, cupiditate doloremque. Repellendus debitis minus magnam commodi! Est, ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A possimus explicabo quidem minus dolorem quisquam tempora sed voluptate aliquam, odit cum at, ipsam, placeat quas suscipit nesciunt ullam saepe alias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nisi sint qui! Ducimus temporibus accusamus perspiciatis, voluptatem libero beatae laboriosam veritatis tenetur aliquid dolores, delectus culpa architecto omnis aliquam quisquam?
    </p>
    <button>click me</button>
</body>
</html>