body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #f11414;
}

.green{
    background-color:#64dd16;    
}

.yellow{
    background-color:#ffe74a;
}

.purple{
    background-color:#368ccc;
}

.flash{
    background-color: whitesmoke;
}

.userflash{
    background-color: green;
}